*, *::before, *::after {
  box-sizing: border-box;
}

html {
  height: 100vh;
}

body {
  font-size: 14px;
  background-color: #fdfdfd;
  font-family: "Josefin Sans", sans-serif;
  background-image: linear-gradient(180deg, rgba(173, 92, 92, 1) 9%, rgba(168, 223, 214, 1) 78%, rgba(168, 223, 214, 1) 78%);
  /* transition: 1s; */
  transition: background-image 5s linear;
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
}

.zoom {
  -webkit-transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.zoom::after {
  -webkit-transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.zoom:hover {
  -webkit-transform: scale(1.1, 1.1);
  transform: scale(1.1, 1.1);
}

.zoom:hover::after {
  opacity: 1;
}

.zoom:active {
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
}

.zoom:active::after {
  opacity: 1;
}

header {
  text-align: center;
  color: white;
  /* font-family: "Amatic SC", cursive; */
}

h1 {
  font-size: 3.5em;
}

input {
  border-radius: 5px;
  border: none;
  font-size: 2em;
  padding: 5px;
  color: #ad5c5c;
  width: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.list_item_div {
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  border: none;
  list-style-type: none;
  font-size: 2em;
  font-family: sans-serif;
  background: white;
  /* margin-top: 10px; */
  margin: 10px 20px;
  padding: 5px;
  color: #ad5c5c;
  width: 88%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

label {
  display: block;
}

.switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 17px;
  margin-bottom: 10px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ad5c5c;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: " ";
  height: 13px;
  width: 13px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked+.slider {
  background-color: #ad5c5c;
}

input:focus+.slider {
  box-shadow: 0 0 1px #ad5c5c;
}

input:checked+.slider:before {
  transform: translateX(13px);
}

.container {
  /* padding: 20px; */
  max-width: 400px;
  margin: 0 auto;
  color: white;
  user-select: none;
  height: 84vh;
}

.timer {
  height: 300px;
  width: 300px;
  margin: 0 auto 25px auto;
  background-color: white;
  border-radius: 50%;
  position: relative;
  background-image: linear-gradient(0deg, rgba(173, 92, 92, 1) 9%, rgba(168, 223, 214, 1) 78%, rgba(168, 223, 214, 1) 78%);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* .timer::before {
  content: " ";
  display: block;
  position: absolute;
  top: 5px;
  left: 5px;
  height: 290px;
  width: 290px;
  background-color: #fdfdfd;
  border-radius: 50%;
} */

.timer_container {
  /* height: 53vh; */
}

#hand {
  position: absolute;
  height: 300px;
  width: 20px;
  left: 140px;
  transition: 1s all linear;
}

#hand::before {
  content: " ";
  display: block;
  position: absolute;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid white;
  top: -19.175px;
  left: 2px;
  border-radius: 50%;
}

#hand::after {
  content: " ";
  display: block;
  position: absolute;
  height: 25px;
  width: 25px;
  top: -10px;
  border-radius: 50%;
  /* background-color: rgb(89, 192, 218); */
  background-color: #ad5c5c;
}

.controls {
  position: absolute;
  top: 35px;
  width: 100%;
  text-align: center;
}

.status {
  margin-bottom: 15px;
  color: #ad5c5c;
}

.time {
  width: 100%;
  text-align: center;
}

.time::after {
  content: " ";
  display: block;
  clear: both;
}

#minutes {
  font-size: 6em;
  float: left;
  margin-left: 25%;
  color: white
}

#seconds {
  font-size: 4em;
  float: left;
  color: white;
}

.activity_input_div {
  width: 95%;
  margin: 0 auto;
}

.activity_list_div {
  overflow: scroll;
  overflow-x: auto;
  /* max-height: 35vh; */
  height: 32vh;
  padding-bottom: 20px;
}

#activity_input {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.add_button {
  height: unset !important;
  width: 85px !important;
  margin: 0px 0px 0px 5px!important;
  border-radius: 5px !important;
  font-size: 1.5em;
  background-color: #ad5c5c;
  border: none;
  color: white;
  cursor: pointer;
}

.add_activity {
  display: flex;
}

.action_buttons {
  height: 60px;
  width: 60px;
  margin: 5px;
  margin-top: 10px;
  border-radius: 50%;
  font-size: 1.5em;
  background-color: white;
  border: none;
  color: #ad5c5c;
  cursor: pointer;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.action_buttons:focus, input:focus, .add_button:focus {
  outline: 0;
}

.input-group {
  margin-top: 20px;
  float: left;
  width: 50%;
  padding: 10px;
}

.inputs::after {
  content: " ";
  display: block;
  clear: both;
}