$main_font: "main_font";
$marron: rgba(173, 92, 92, 1);
$turquoise: rgba(168, 223, 214, 1);
$box_shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
$show: flex;
$hide: none;

// @mixin {
//   display: flex;
//   justify-content: center;
// }

*,
*::before,
*::after {
  box-sizing: border-box;
}

@font-face {
  font-family: "main_font";
  src: url("../fonts/UniNeue-Light.otf");
}

html {
  height: 100vh;
  /* Fallback for browsers that do not support Custom Properties */
  height: calc(var(--vh, 1vh) * 100);
}

body {
  font-size: 14px;
  transition: background-image 10s ease;
  background-color: #fdfdfd;
  /* font-family: "Josefin Sans", sans-serif; */
  font-family: $main_font;
  background-image: linear-gradient(
    180deg,
    rgba(173, 92, 92, 1) 9%,
    rgba(168, 223, 214, 1) 78%,
    rgba(168, 223, 214, 1) 78%
  );
  /* transition: 1s; */

  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
}

body:after {
  background-image: linear-gradient(
    0deg,
    rgba(173, 92, 92, 1) 9%,
    rgba(168, 223, 214, 1) 78%,
    rgba(168, 223, 214, 1) 78%
  );
}

.zoom {
  -webkit-transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.zoom::after {
  -webkit-transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.zoom:hover {
  -webkit-transform: scale(1.1, 1.1);
  transform: scale(1.1, 1.1);
}

.zoom:hover::after {
  opacity: 1;
}

.zoom:active {
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
}

.zoom:active::after {
  opacity: 1;
}

header {
  text-align: center;
  color: white;
  /* font-family: $main_font; */
}

h1 {
  font-size: 3.5em;
}

input {
  border-radius: 5px;
  border: $hide;
  font-size: 2em;
  padding: 5px;
  color: $marron;
  width: 100%;
  box-shadow: $box_shadow;
  font-family: $main_font;
}

.list_item_div {
  border-radius: 5px;
  display: $show;
  justify-content: space-between;
  border: $hide;
  list-style-type: $hide;
  font-size: 2em;
  font-family: sans-serif;
  background: white;
  /* margin-top: 10px; */
  margin: 10px 20px;
  padding: 5px;
  color: $marron;
  /* width: 88%; */
  box-shadow: $box_shadow;
  font-family: $main_font;
}

label {
  display: block;
  font-size: 16px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 17px;
  margin-bottom: 10px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $marron;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: " ";
  height: 13px;
  width: 13px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: $marron;
}

input:focus + .slider {
  box-shadow: 0 0 1px $marron;
}

input:checked + .slider:before {
  transform: translateX(13px);
}

.container {
  /* padding: 20px; */
  max-width: 400px;
  margin: 0 auto;
  color: white;
  user-select: $hide;
  height: 84vh;
  position: relative;
}

.todo_list_label {
  font-size: 35px;
  text-align: center;
  margin-bottom: 5px;
  margin-top: 23px;
}

.timer {
  height: 300px;
  width: 300px;
  margin: 0 auto 12px auto;
  background-color: white;
  border-radius: 50%;
  position: relative;
  background-image: linear-gradient(
    0deg,
    rgba(173, 92, 92, 1) 9%,
    rgba(168, 223, 214, 1) 78%,
    rgba(168, 223, 214, 1) 78%
  );
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 2px 4px 0 rgba(0, 0, 0, 0.19);
  /* font-family: $main_font; */
  transition: box-shadow 1s ease;
}

.timer:hover {
  box-shadow: $box_shadow;
}

/* .timer::before {
  content: " ";
  display: block;
  position: absolute;
  top: 5px;
  left: 5px;
  height: 290px;
  width: 290px;
  background-color: #fdfdfd;
  border-radius: 50%;
} */

.timer_container {
  /* height: 53vh; */
}

#hand {
  position: absolute;
  height: 300px;
  width: 20px;
  left: 140px;
  transition: 1s all linear;
}

#hand::before {
  content: " ";
  display: block;
  position: absolute;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid white;
  top: -19.175px;
  left: 2px;
  border-radius: 50%;
}

#header {
  margin-bottom: 0px;
}

#work_time,
#break_time,
#total_time {
  display: $show;
  justify-content: center;
}

#hand::after {
  content: " ";
  display: block;
  position: absolute;
  height: 25px;
  width: 25px;
  top: -10px;
  border-radius: 50%;
  /* background-color: rgb(89, 192, 218); */
  background-color: $marron;
}

#work_hours,
#break_hours,
.total_hours {
  margin-left: 5px;
}

#stats_div {
  font-size: 23px;
  margin-bottom: 15px;
  display: $show;
  justify-content: center;
  position: relative;
}

#stats_modal {
  position: absolute;
  display: block;
  z-index: 1;
  top: 112px;
  background: #ffffffe8;
  width: 245px;
  border-radius: 15px;
  padding: 12px;
  color: #ad5c5c;
}

.stats {
  margin: 5px;
}

.controls {
  position: absolute;
  top: 35px;
  width: 100%;
  text-align: center;
}

.status {
  color: $marron;
  font-size: 16px;
  font-family: $main_font;
}
// #status {
//   font-family: $main_font;
// }

.time {
  width: 68%;
  text-align: center;
}

.time::after {
  content: " ";
  display: block;
  clear: both;
}

#minutes {
  font-size: 5em;
  width: 77px;
  float: left;
  margin-left: 7%;
  color: white;
  margin-right: 3%;
}

#seconds {
  font-size: 4em;
  float: left;
  margin-top: 5px;
  color: white;
}

.todo_input_div {
  width: 95%;
  margin: 0 auto;
}

.todo_list_div {
  overflow: scroll;
  overflow-x: auto;
  /* max-height: 35vh; */
  height: 14vh;
  padding-bottom: 20px;
  /* box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 1px 2px 0 rgba(0, 0, 0, 0.19); */
  margin-bottom: 20px;
  border-radius: 15px;
  transition: box-shadow 1s ease;
  /* background-image: linear-gradient(180deg, rgba(173, 92, 92, 1) 9%, rgba(168, 223, 214, 1) 78%, rgba(168, 223, 214, 1) 78%); */
}

.todo_list_div:hover {
  box-shadow: $box_shadow;
}

#todo_input {
  box-shadow: $box_shadow;
}

.add_button {
  height: unset !important;
  width: 85px !important;
  margin: 0px 0px 0px 5px !important;
  border-radius: 5px !important;
  font-size: 1.5em;
  background-color: $marron;
  font-family: $main_font;
  border: $hide;
  color: white;
  cursor: pointer;
}

.add_todo {
  display: $show;
}

#total_time {
  display: $show;
  flex-direction: row;
}

.reset_button {
  height: unset !important;
  margin: 0px 0px 0px 5px !important;
  border-radius: 5px !important;
  font-size: 21px;
  background-color: rgba(168, 223, 214, 1);
  font-family: $main_font;
  border: $hide;
  color: white;
  cursor: pointer;
}

.view_stats_button {
  height: unset !important;
  margin: 0px 0px 0px 5px !important;
  border-radius: 5px !important;
  font-size: 21px;
  background-color: rgba(168, 223, 214, 1);
  font-family: $main_font;
  border: $hide;
  color: white;
  cursor: pointer;
}

.action_buttons {
  height: 60px;
  width: 60px;
  margin: 5px;
  margin-top: 10px;
  border-radius: 50%;
  font-size: 1.5em;
  background-color: white;
  border: $hide;
  color: $marron;
  cursor: pointer;
  box-shadow: $box_shadow;
}

.action_buttons:focus,
input:focus,
.add_button:focus,
.reset_button:focus,
.view_stats_button:focus {
  outline: 0;
}

.input-group {
  /* margin-top: 20px; */
  float: left;
  padding: 10px;
  width: 132px;
}

.inputs::after {
  content: " ";
  display: block;
  clear: both;
  width: 75% !important;
  /* position: absolute; */
}

/* The Modal (background) */

.time_modifier_modal {
  display: $hide;
  position: fixed;
  z-index: 1;
  /* left: 19%; */
  top: 400px;
  /* width: 87%; */
  height: 12%;
  overflow: auto;
  /* background-color: rgb(0, 0, 0); */
  background-color: rgba(0, 0, 0, 0);
}

.stats_modal {
  display: $hide;
  position: fixed;
  z-index: 2;
  /* left: 19%; */
  top: 368px;
  /* width: 87%; */
  height: 12%;
  overflow: auto;
  /* background-color: rgb(0, 0, 0); */
  background-color: rgba(0, 0, 0, 0);
}

.tooltip {
  position: relative;
  display: inline-block;
  /* border-bottom: 1px dotted black; */
  /* If you want dots under the hoverable text */
}

/* Tooltip text */

.tooltip .tooltiptext {
  visibility: hidden;
  width: 150px;
  background-color: #555;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  /* Position the tooltip text */
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -75px;
  /* Fade in tooltip */
  opacity: 0;
  transition: opacity 0.3s;
}

/* Tooltip arrow */

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
